{% load staticfiles %}
<div class="canvas_menu">
    <div class="radius3 text_editor"> <a href="#" id="text"> Text </a> </div>

    <div class="radius3 text_editor"> <a href="#" id="default"> Default </a> </div>

    <div class="radius3 text_editor"> <a href="#"><img src="{% static "images/wb_rotate_left.png" %}" width="14" height="15" alt="img"></a> <a href="#"><img src="{% static "images/wb_rotate_right.png" %}" width="14" height="14" alt="img"></a> </div>

    <div class="radius3 text_editor"> <a href="#"><img src="{% static "images/wb_small_A_icon.png" %}" width="10" height="9" alt="img"></a> <a href="#"><img src="{% static "images/wb_large_A_icon.png" %}" width="13" height="12" alt="img"> </a> </div>

    <div class="radius3 text_editor"> <a href="#"><img src="{% static "images/wb_p_icon.png" %}" width="25" height="11" alt="img"></a> </div>
</div>
<div class="document">
    <div>
        <div class="document_top">
            <a href="#" class="Document1 radius3">Document 1</a>
            <a href="#" class="new radius3"> New </a>
        </div>

        <textarea class="documnet_contnt radius3"></textarea>

    </div>
</div>