{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Icon inside Input Field - Demo Preview</title>
    <meta name="robots" content="noindex, nofollow">
    <!-- include css file here-->
    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
    <script src="{%  static "js/lib/jquery-1.11.1.min.js" %}"></script>
    <script src="{%  static "js/jquery-ui.min.js" %}"></script>
    <style type="text/css" href="{% static "css/formicon.css" %}"></style>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{%  static "js/bootstrap.min.js" %}"></script>
    <style type="text/css">
        .ui-selectmenu-button {width: 100% !important;height: 50px; !important; margin-top: 10px;}
        .ui-tooltip
        {
            padding:  20px;;
        }
        .ui-tooltip, .arrow:after {
            background: #ff4342;
            border: 2px solid #FF0000;
        }
        .ui-tooltip {
            padding: 10px 20px;
            color: white;
            border-radius: 20px;
            font: bold 14px "Helvetica Neue", Sans-Serif;
            text-transform: uppercase;
            box-shadow: 0 0 7px black;
        }
        .arrow {
            width: 70px;
            height: 16px;
            overflow: hidden;
            position: absolute;
            left: 50%;
            margin-left: -35px;
            bottom: -16px;
        }
        .arrow.top {
            top: -16px;
            bottom: auto;
        }
        .arrow.left {
            left: 20%;
        }
        .arrow:after {
            content: "";
            position: absolute;
            left: 20px;
            top: -20px;
            width: 25px;
            height: 25px;
            box-shadow: 6px 5px 9px -9px black;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .arrow.top:after {
            bottom: -20px;
            top: auto;
        }
        .signup-user-type-select
        {
            width: 500px;
            padding: 2px;
        }
        input.form-control
        {
            margin-bottom: 9px;
            width: 500px;
        }
        #id_submit_button
        {
            margin-top: 16px;
            width: 140px;
        }
        #status_ok
        {
            width: 80px;
        }
    </style>
    <script>
        $(document).ready(function(e)
        {

            $(".form-control").tooltip();

            //$( "#id_role" ).selectmenu();

            $("#id_name").focusin(function()
            {
                $(this).css("border","1px solid #dfdfdf");
                $(this).attr("title","");
            })
            .focusout(function()
            {
                var name = $(this).val();
                if(name == "")
                {
                    $(this).css("border","1px solid red");
                    $(this).attr("data-original-title","Required field");
                }
                else
                {
                    $(this).css("border","1px solid #dfdfdf");
                    $(this).attr("data-original-title","");
                }
            });

            $("#id_email").focusin(function()
            {
                $(this).css("border","1px solid #dfdfdf");
                $(this).attr("data-original-title","");
            })
            .focusout(function()
            {
                var email = $(this).val();
                if(email == "")
                {
                    $(this).css("border","1px solid red");
                    $(this).attr("data-original-title","Required field");
                }
                else
                {
                    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                    if( !emailReg.test(email) )
                    {
                        $(this).css("border","1px solid red");
                        $(this).attr("data-original-title","A valid email address is required.");
                        return false;
                    } else {
                        $(this).css("border","1px solid #dfdfdf");
                        $(this).attr("data-original-title","");
                        //alert("");
                        return true;
                    }

                }
            });

            // function validatePhone(txtPhone) {
            //     var filter = /^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/;
            //     if (filter.test(txtPhone)) {
            //         return true;
            //     }
            //     else {
            //         return false;
            //     }
            // }

            // $("#id_mobile").focusin(function()
            // {
            //     $(this).css("border","1px solid #dfdfdf");
            //     $(this).attr("title","");
            // })
            // .focusout(function()
            // {
            //     var mobile = $(this).val();
            //     if(mobile == "")
            //     {
            //         $(this).css("border","1px solid red");
            //         $(this).attr("title","Required field");
            //     }
            //     else
            //     {
            //         if(validatePhone(mobile))
            //         {
            //             $(this).css("border","1px solid #dfdfdf");
            //             $(this).attr("title","");
            //         }
            //         else
            //         {
            //             $(this).css("border","1px solid red");
            //             $(this).attr("title","A valid phone number is required.");
            //         }
            //     }
            // });

            $("#id_password").focusin(function()
            {
                $(this).css("border","1px solid #dfdfdf");
                $(this).attr("data-original-title","");
            })
            .focusout(function()
            {
                var password = $(this).val();
                if(password == "")
                {
                    $(this).css("border","1px solid red");
                    $(this).attr("data-original-title","Required field");
                }
                else
                {
                    $(this).css("border","1px solid #dfdfdf");
                    $(this).attr("data-original-title","");
                }
            });

            $("#id_password_repeat").focusin(function()
            {
                $(this).css("border","1px solid #dfdfdf");
                $(this).attr("data-original-title","");
            })
            .focusout(function()
            {
                var pass_repeat = $(this).val();
                if(pass_repeat == "")
                {
                    $(this).css("border","1px solid red");
                    $(this).attr("data-original-title","Required field");
                }
                else
                {
                    var pass1 = $("#id_password").val();
                    if(pass1 == pass_repeat)
                    {
                        $(this).css("border","1px solid #dfdfdf");
                        $(this).attr("data-original-title","");
                    }
                    else
                    {
                        $(this).css("border","1px solid red");
                        $(this).attr("data-original-title","Password mismatch.");
                    }
                }
            });

            $("#id_role").change(function(i)
            {
                var selected_val = $(this).val();
                if(selected_val == "--")
                {
                    $("#id_role").css("border","1px solid red");
                    $("#id_role").attr("data-original-title","Please select a role.");
                }
                else
                {
                    $("#id_role").css("border","1px solid #dfdfdf");
                    $("#id_role").attr("data-original-title","");
                }
            });

            var validate_fields = function()
            {
                var error = false;
                var name = $("#id_name").val();
                var email = $("#id_email").val();
                //var mobile = $("#id_mobile").val();
                var password = $("#id_password").val();
                var pass_repeat = $("#id_password_repeat").val();
                var role = $("#id_role").val();

                if(name == "")
                {
                    $("#id_name").css("border","1px solid red");
                    $("#id_name").attr("data-original-title","Required field");
                    error = true;
                }
                else
                {
                    $("#id_name").css("border","1px solid #dfdfdf");
                    $("#id_name").attr("data-original-title","");
                }

                if(email == "")
                {
                    $("#id_email").css("border","1px solid red");
                    $("#id_email").attr("data-original-title","Required field");
                    error = true;
                }
                else
                {
                    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                    if( !emailReg.test(email) )
                    {
                        $("#id_email").css("border","1px solid red");
                        $("#id_email").attr("data-original-title","A valid email address is required.");
                        error = true;
                    } else {
                        $("#id_email").css("border","1px solid #dfdfdf");
                        $("#id_email").attr("data-original-title","");
                    }

                }

                if(password == "")
                {
                    $("#id_password").css("border","1px solid red");
                    $("#id_password").attr("data-original-title","Required field");
                    error = true;
                }
                else
                {
                    $("#id_password").css("border","1px solid #dfdfdf");
                    $("#id_password").attr("data-original-title","");
                }

                if(pass_repeat == "")
                {
                    $("#id_password_repeat").css("border","1px solid red");
                    $("#id_password_repeat").attr("data-original-title","Required field");
                    error = true;
                }
                else
                {
                    var pass1 = $("#id_password").val();
                    if(pass1 == pass_repeat)
                    {
                        $("#id_password_repeat").css("border","1px solid #dfdfdf");
                        $("#id_password_repeat").attr("data-original-title","");
                    }
                    else
                    {
                        $("#id_password_repeat").css("border","1px solid red");
                        $("#id_password_repeat").attr("data-original-title","Password mismatch.");
                        error = true;
                    }
                }

                if(role == "--")
                {
                    $("#id_role").css("border","1px solid red");
                    $("#id_role").attr("data-original-title","Please select a role.");
                    error = true;
                }
                else
                {
                    $("#id_role").css("border","1px solid #dfdfdf");
                    $("#id_role").attr("data-original-title","");
                }
                return !error;
            };

            $("#id_submit_button").click(function(e)
            {
                if(validate_fields())
                {
                    //$("form[name=registrationform]").submit();
                    $("#id_submit_button").text("Processing...");
                    $(this).prop("disabled",true);
                    $("#signUpFormContainer").css("cursor","wait");
                    $.ajax({
                        type: "POST",
                        url: "/ajax/signup",
                        data: $("form[name=registrationform]").serialize(),
                        success: function(data)
                        {
                            console.log(data);
                            var parsed_json = jQuery.parseJSON(data);
                            console.log(parsed_json.status);
                            if(parsed_json.status == "successful")
                            {
                                $("#status_message2").text("").hide();
                                $("#signUpFormContainer").hide();
                                $("#status_header").text("Successful");
                                $("#status_message").html("<p>Congratulations! You have successfully registered. Please check your inbox. We have sent you an email.</P>");
                                $("#signUpResultContainer").show();
                                parent.$.colorbox.resize({height:310});
                                parent.$("#cboxClose").click(function(e) {
                                    parent.location.reload();
                                });
                            }
                            else
                            {
                                if(parsed_json.message == "EMAIL_REGISTERED")
                                {
                                      $("#id_email").css("border","1px solid red");
                                      $("#id_email").attr("data-original-title","Email address is already registered.");
                                }
                                else
                                {
                                    $("#status_message2").text(parsed_json.message).show();
                                }
                            }
                        },
                        error: function(jqXHR, status, errorThrown)
                        {
                            $("#status_message2").text("An error occured while processing your request. Please try again later.").show();
                        },
                        complete: function(jqXHR, status)
                        {
                            $("#id_submit_button").prop("disabled",false);
                            $("#signUpFormContainer").css("cursor","auto");
                            $("#id_submit_button").text("Sign Up");
                        }
                    });
                }
                return false;
            });

            $("#status_ok").click(function(e)
            {
                parent.location.reload();
                return false;
            });

        });
    </script>

</head>


<body>
<div id="signUpResultContainer" style="margin:10px;display:none;">
    <h3 id="status_header"></h3><hr/>
    <div id="status_message"></div>
    <br/>
    <div id="status_ok_button_container text-center" class="container">
       <div class="row">
            <div class="col-md-12 text-center">
                <button id="status_ok" class="btn btn-lg btn-primary">Ok</button>                
            </div>
        </div>
    </div>
    <br/>
</div>
<div id="signUpFormContainer" class="container">
    <form name="registrationform" action="{% url "ajax_signup" %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <h3>Sign Up</h3><hr/>
                <div id="status_message2" style="display: none;color: red;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">{{ form.name }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">{{ form.email }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">{{ form.password }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">{{ form.password_repeat }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">{{ form.role }}</div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button id="id_submit_button" class="btn btn-lg btn-primary">Sign Up</button>
            </div>
        </div>
    </form>
</div>
<!-- <div id="signUpFormContainer" style="margin:10px;">
    <h3>Sign Up</h3><hr/>
    <div id="status_message2" style="display: none;color: red;"></div>
    <form name="registrationform" action="{% url "ajax_signup" %}" method="post">
    {% csrf_token %}
    <div class="field">
        {{ form.name }}
    </div>
    <div class="field">
        {{ form.email }}
    </div>
    <div class="field">
        {{ form.mobile }}
    </div>
    <div class="field">
        {{ form.password }}
    </div>
    <div class="field">
        {{ form.password_repeat }}
    </div>
    <div class="field">
        {{ form.role }}
    </div>
    <br>
    <div style="width:100%;">
        <a href="#" id="id_submit_button"
           style="text-decoration: none;padding: 10px;
                    color: #FFF;
                    background-color: #4bc970;
                    font-size: 18px;
                    text-align: center;
                    font-style: normal;
                    border-radius: 5px;
                    width:300px;
                    border: 1px solid #3ac162;
                    border-width: 1px 1px 3px;
                    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;margin-left: 200px;;margin-right: auto;">Register Now</a>
    </div>

    </form>
</div> -->

</body>

</html>