{% load staticfiles %}
<!-- <textarea class="aaa"></textarea> -->
<style type="text/css">
	#id_pad_container
	{
		border: 1px solid gray;
	}
</style>
<div id="id_pad_container"></div>
<!-- <div class="tab_right radius3">
    <a href="#"><img src="{% static "images/wb_upload_download_icon.png" %}" width="16" height="13" alt="img"> Upload / Download</a>
    <a href="#"><img src="{% static "images/wb_revisions_icon.png" %}" width="18" height="18" alt="img"> Revisions</a>
</div> -->

<!-- <script src="{% static "js/tinymce.min.js" %}"></script> -->
<script type="text/javascript">
    // tinymce.init({
    //     selector: "textarea.aaa",
    // });
	$('#id_pad_container').pad(
		{
			'padId':'test',
			'width':1000,
			'height':800,
			'host'             : 'http://127.0.0.1:9001', // the host and port of the Etherpad instance, by  default the foundation will host your pads for you
			'baseUrl'          : '/p/', // The base URL of the pads
			'showControls'     : true, // If you want to show controls IE bold, italic, etc.
			'showChat'         : false, // If you want to show the chat button or not
			'showLineNumbers'  : true, // If you want to show the line numbers or not
			'userName'         : 'Sohel', // The username you want to pass to the pad
			'useMonospaceFont' : false, // Use monospaced fonts
			'noColors'         : false, // Disable background colors on author text
			'userColor'        : false, // The background color of this authors text in hex format IE #000
			'hideQRCode'       : false, // Hide QR code
			'alwaysShowChat'   : false, // Always show the chat on the UI
			'border'           : 1,    // The width of the border (make sure to append px to a numerical value)
			'borderStyle'      : 'solid', // The CSS style of the border    [none, dotted, dashed, solid, double, groove, ridge, inset, outset]
			'rtl'              : false // Show text from right to left
		});
</script>