{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "jquery.easyui-1.4.2/themes/black/easyui.css" %}"/>
{#<script type="text/javascript" src="{% static "jquery.easyui-1.4.2/jquery.min.js" %}"></script>#}
<script type="text/javascript" src="{% static "jquery.easyui-1.4.2/jquery.easyui.min.js" %}"></script>
{#<script type="text/javascript" src="{% static "js/etherpad.js" %}"></script>#}

<style type="text/css">
    .panel .panel-body{
        width:  100%;;
    }
</style>

<div id="tt" class="easyui-tabs" style="width: 100%;float:left; margin-top: 30px;">
{#    <div title="1" id="id_pad_tab_1" data-options="closable:false">#}
{##}
{#    </div>#}
{#    {% for text_pad in text_pads %}#}
{#            <div title="{{ text_pad.id }}" id="id_pad_tab_{{ text_pad.id }}" data-options="closable:false">#}
{#                <input type="hidden" class="hidden_pad_id" value="{{ text_pad.pad_id }}"/>#}
{#            </div>#}
{#    {% endfor %}#}
    <button id="id_add_new_tab" class="btn btn-primary" data-options="closable:false" style="padding:3px;float:left;">
        Add New Pad
    </button>
</div>
<script type="text/javascript">

    function AddNewPad(pad_id,dom_id){
        console.log(pad_id);
        {#          $("#id_pad_tab_"+pad_id).pad(#}
        {#                  {#}
        {#                      'padId':pad_id,#}
        {#                      'height':1300,#}
        {#                      'host'             : 'http://127.0.0.1:9001', // the host and port of the Etherpad instance, by  default the foundation will host your pads for you#}
        {#                      'baseUrl'          : '/p/', // The base URL of the pads#}
        {#                      'showControls'     : true, // If you want to show controls IE bold, italic, etc.#}
        {#                      'showChat'         : false, // If you want to show the chat button or not#}
        {#                      'showLineNumbers'  : true, // If you want to show the line numbers or not#}
        {#                      'userName'         : 'Sohel', // The username you want to pass to the pad#}
        {#                      'useMonospaceFont' : false, // Use monospaced fonts#}
        {#                      'noColors'         : false, // Disable background colors on author text#}
        {#                      'userColor'        : false, // The background color of this authors text in hex format IE #000#}
        {#                      'hideQRCode'       : false, // Hide QR code#}
        {#                      'alwaysShowChat'   : false, // Always show the chat on the UI#}
        {#                      'border'           : 1,    // The width of the border (make sure to append px to a numerical value)#}
        {#                      'borderStyle'      : 'solid', // The CSS style of the border    [none, dotted, dashed, solid, double, groove, ridge, inset, outset]#}
        {#                      'rtl'              : false // Show text from right to left#}
        {#                  });#}
        $("#id_pad_tab_"+dom_id).html('<iframe id="epframeid_pad_tab_'+dom_id+'" name="epframeid_pad_tab_'+dom_id+ '" src="http://127.0.0.1:9001/p/'+pad_id+'?showControls=true&amp;showChat=false&amp;showLineNumbers=true&amp;useMonospaceFont=false&amp;userName=Sohel&amp;noColors=false&amp;userColor=false&amp;hideQRCode=false&amp;alwaysShowChat=false&amp;rtl=false" style="border:1; border-style:solid;" width="100%" height="1300"></iframe>');

        {#          $(".panel").css("width","100%");#}
        {#          $(".panel-body").css("width","100%");#}

    }

  $(document).ready(function(){
      tab_counter = 0;

      //AddNewPad(1);

      $(document).on("click","#id_add_new_tab",function(e){

          $.ajax({
              type: "GET",
              url: "ajax/action_whiteboard_tab",
              data: { action: "ADD_NEW_TEXT_PAD" },
              success: function(data)
              {
                  data = jQuery.parseJSON(data);
                  console.log(data.data);
                  $('#tt').tabs('add',{
                      title:data.data.pad_count,
                      id: "id_pad_tab_"+data.data.pad_count,
                      content:'',
                      closable:false
                  });
                  AddNewPad(data.data.pad_count,data.data.id);
                  console.log("Pad tab added.");
              },
              error: function(jqxhr, status, error)
              {
                  console.log("An error occured while adding canvas tab. Error message: "+error);
              }
          })
          .done(function( msg ) {

          });
      });

      //$("#id_add_new_tab").click();



  });

</script>