{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "jquery.easyui-1.4.2/themes/black/easyui.css" %}"/>
<script type="text/javascript" src="{% static "jquery.easyui-1.4.2/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "jquery.easyui-1.4.2/jquery.easyui.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/etherpad.js" %}"></script>

<div id="tt" class="easyui-tabs">
    <div title="1" id="id_pad_tab_1" data-options="closable:false">
        
    </div>
    <button id="id_add_new_tab" class="btn btn-primary" data-options="closable:false" style="padding:3px;float:left;">
        Add New Pad
    </button>
</div>
<script type="text/javascript">
  var tab_counter = 1;
  $(document).ready(function(){
      $("#id_add_new_tab").click(function(e){
          $('#tt').tabs('add',{
            title:(tab_counter+1),
            id: "id_pad_tab_"+(tab_counter + 1),
            content:'',
            closable:true
        });
        tab_counter++;
        AddNewPad(tab_counter);
      });
  });
    function setTabs(){
        $('#tt').tabs({
          border:false,
          onSelect:function(title){
          alert(title+' is selected');
        }
      });
    }

    function AddNewPad(pad_id){
        $("#id_pad_tab_"+pad_id).pad(
        {
            'padId':pad_id,
            'height':1300,
            'host'             : 'http://127.0.0.1:9001', // the host and port of the Etherpad instance, by  default the foundation will host your pads for you
            'baseUrl'          : '/p/', // The base URL of the pads
            'showControls'     : true, // If you want to show controls IE bold, italic, etc.
            'showChat'         : false, // If you want to show the chat button or not
            'showLineNumbers'  : true, // If you want to show the line numbers or not
            'userName'         : 'Sohel', // The username you want to pass to the pad
            'useMonospaceFont' : false, // Use monospaced fonts
            'noColors'         : false, // Disable background colors on author text
            'userColor'        : false, // The background color of this authors text in hex format IE #000
            'hideQRCode'       : false, // Hide QR code
            'alwaysShowChat'   : false, // Always show the chat on the UI
            'border'           : 1,    // The width of the border (make sure to append px to a numerical value)
            'borderStyle'      : 'solid', // The CSS style of the border    [none, dotted, dashed, solid, double, groove, ridge, inset, outset]
            'rtl'              : false // Show text from right to left
        });
    }

    AddNewPad(1);

</script>