{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="{% static "css/signup-form.css" %}" type="text/css" media="all">
        <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
        <script src="{%  static "js/lib/jquery-1.11.1.min.js" %}"></script>
        <script src="{%  static "js/jquery-ui.min.js" %}"></script>
        <style type="text/css">
            .ui-selectmenu-button {width: 100% !important;height: 50px; !important;}
        </style>
        <script>
            $(document).ready(function(e)
            {
                var highlight_error = function(id)
                {
                    $("#"+id).parent().addClass("ui-state-error");
                    $("#"+id).attr("title","This field is required.");
                    $("#"+id).focus();
                };

                var reset_field = function(id)
                {
                    $("#"+id).parent().removeClass("ui-state-error");
                    $("#"+id).attr("title","");
                };

                var check_empty_field = function(value,id)
                {
                    if(value == "")
                    {
                        highlight_error(id);
                    }
                    else
                    {
                        reset_field(id);
                    }
                };

                var check_select_field = function(value,value_to_compare,id)
                {
                    if(value == value_to_compare)
                    {
                        highlight_error(id);
                    }
                    else
                    {
                        reset_field(id);
                    }
                };

                var validate_field = function(type,value,id)
                {
                    if(type="email")
                    {
                        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                        if( !emailReg.test(value) )
                        {
                            $("#"+id).parent().addClass("ui-state-error");
                            $("#"+id).attr("title","A valid email address is required.");
                            $("#"+id).focus();
                            return false;
                        } else {
                            return true;
                        }
                    }
                    return -1
                };

                var fucus_element = function($elem,msg)
                {
                    $elem.attr("title",msg);
                    $elem.focus();
                    return;
                };

                $(".ui-error-custom").click(function(e)
                {
                    $(this).parent().addClass("ui-state-error");
                    $(this).attr("title","This field is required.");
                    $(this).parent().find("input").focus();
                });

                $("#id_name").focusin(function()
                {
                    $("#id_name").parent().removeClass("ui-state-error");
                    $("#id_name").attr("title","");
                })
                .focusout(function()
                {
                    var name = $("#id_name").val();
                    if(name == "")
                    {
                        //$("#id_name").parent().addClass("ui-state-error");
                        //$("#id_name").attr("title","This field is required.");
                        var aler_text = "";
                        $("#id_name").parent().find(".ui-error-custom").css("visibility","visible");
                        //$("#id_name").focus();
                    }
                    else
                    {
                        $("#id_name").parent().find(".ui-error-custom").css("visibility","visible");
                        reset_field("id_name");
                    }
                });

                var validate_form = function()
                {
{#                    var name = $("#id_name").val();#}
{#                    var email = $("#id_email").val();#}
{#                    var password = $("#id_password").val();#}
{#                    var pass_repeat = $("#id_password_repeat").val();#}
{#                    var role = $("#id_role").val();#}
{##}
{#                    check_empty_field(pass_repeat,"id_password_repeat");#}
{#                    check_empty_field(password,"id_password");#}
{#                    check_empty_field(email,"id_email");#}
{#                    check_empty_field(name,"id_name");#}
{#                    validate_field("email",email,"id_email");#}
{#                    //alert(role);#}
{#                    //check_empty_field(role,"id_role");#}
{#                    if(role == "--")#}
{#                    {#}
{#                        check_select_field(role,"--","id_role");#}
{#                        $("#id_role").parent().addClass("ui-state-error");#}
{#                        $("#id_role").attr("title","This field is required.");#}
{#                    }#}

                };

                $(document).on("click","#id_submit_button",function(e)
                {
                    e.preventDefault();
                    validate_form();
                   return false;
                });

                $( "#id_role" ).selectmenu();

                $(".field").tooltip(
                        {
                            position:
                            {
                                my: "left top",
                                at: "left top-50"
                            }
                        }
                );

                $(".ui-icon-alert").tooltip(
                        {
                            position:
                            {
                                my: "left top",
                                at: "right top-50"
                            }
                        }
                );

            });
        </script>
        <body>
            <div style="margin:10px;">
                <h3>Sign Up</h3><hr/>
                <div class="field">
                    {{ form.name }}
                    <span class='ui-error-custom' style='cursor:pointer;float: right; margin-right: .3em; position: relative; top: -30px; right:  0px; visibility: hidden;'>
                        <img src="{% static "images/error_1.png" %}" style="width: 20px; height: 20px;"/>
                    </span>
                </div>
                <div class="field">
                    {{ form.email }}
                    <span class='ui-error-custom' style='cursor:pointer;float: right; margin-right: .3em; position: relative; top: -30px; right:  0px; visibility: hidden;'>
                        <img src="{% static "images/error_1.png" %}" style="width: 20px; height: 20px;"/>
                    </span>
                </div>
                <div class="field">
                    {{ form.password }}
                    <span class='ui-error-custom' style='cursor:pointer;float: right; margin-right: .3em; position: relative; top: -30px; right:  0px; visibility: hidden;'>
                        <img src="{% static "images/error_1.png" %}" style="width: 20px; height: 20px;"/>
                    </span>
                </div>
                <div class="field">
                    {{ form.password_repeat }}
                    <span class='ui-error-custom' style='cursor:pointer;float: right; margin-right: .3em; position: relative; top: -30px; right:  0px; visibility: hidden;'>
                        <img src="{% static "images/error_1.png" %}" style="width: 20px; height: 20px;"/>
                    </span>
                </div>
                <div class="field">
                    {{ form.role }}
                    <span class='ui-error-custom' style='cursor:pointer;float: right; margin-right: .3em; position: relative; top: -30px; right:  0px; visibility: hidden;'>
                        <img src="{% static "images/error_1.png" %}" style="width: 20px; height: 20px;"/>
                    </span>
                </div>
                <br>
                <div style="width:100%;">
                    <a href="#" id="id_submit_button"
                       style="text-decoration: none;padding: 10px;
                    color: #FFF;
                    background-color: #4bc970;
                    font-size: 18px;
                    text-align: center;
                    font-style: normal;
                    border-radius: 5px;
                    width:300px;
                    border: 1px solid #3ac162;
                    border-width: 1px 1px 3px;
                    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;margin-left: 200px;;margin-right: auto;">Register Now</a>
                </div>
            </div>
        </body>
    </head>
</html>