{% extends "base.html" %}
{% load staticfiles %}
{% block head_extra %}
    <div id="fb-root"></div>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

{% endblock head_extra %}

{% block script_extra %}
    <script type="text/javascript" src="{%  static "js/bootstrap.min.js" %}"></script>
{% endblock script_extra %}

{% block body %}
    {% block header %}
        {{ block.super }}
    {% endblock header %}
    {% block bodycontent %}
        <div class="contnt">

                <div class="wrapper">
                  <div class="main_cntnt radius3">
                    <div class="stdnt_detal">
                    <div class="img_box radius3"> <img src="{{ thumbnail_url|safe }}" /> </div>
                    {% if pp_editable %}
                    <a class="button btn" href="{% url 'change_pp' %}">Change Profile Picture</a>
                    {% endif %}
                        <div class="stdnt_img_dtl">
                            <div class="skul_nme">Harvard Business School</div>
                            <div class="stdnt_name">Wilson Tan (Year 1995)</div>
                            <span class="cty"> Singapore, 760123</span>
                            <a href="mailto:Wilson7tan@gmail.com" class="mail">Wilson7tan@gmail.com</a>
                            <a href="tel:+65 9847 8438" class="telno">+65 9847 8438</a>
                        </div>
                    </div>
                    <div class="reqrd_tutn">Require Tuition In : <a href="#">(+) New Online Tutor</a>   <a href="#">(+) New Written Lesson</a> </div>
          <div class="reqrd_tutn2">
                        <div class="reqrd_tutn_inr">
                            <span>Secondary 3, EMath (Online Tutor)</span>
                            <textarea placeholder="I will require a tutor who knows Math subject very well"></textarea>
                            <a href="#" class="btn_rght radius3">Repost Request</a>
                            <div class="tags">
                                <span class="dfrnt_tag radius3"><a href="#"></a> Singapore</span>
                                <span class="dfrnt_tag radius3"><a href="#"></a> America</span>
                                <span class="dfrnt_tag radius3"><a href="#"></a> Male</span>
                                <span class="dfrnt_tag radius3"><a href="#"></a> FeMale</span>
                                <span class="dfrnt_tag radius3"><a href="#"></a> $15 - $20</span>
                                <span class="dfrnt_tag radius3"><a href="#"></a> SGD</span>
                                <span class="dfrnt_tag radius3"><a href="#"></a> Singapore (SGT)</span>
                                <span class="dfrnt_tag radius3"><a href="#"></a> 6pm - 9pm</span>
                            </div>
                        </div>
                                
                                <div class="reqrd_tutn_inr">
                                    <span>Language, Thai (Written Lesson)</span>
                                    <textarea placeholder="Write a brief description for the potential tutors to know your expectations."></textarea>
                                    <a href="#" class="btn_rght radius3">Post Request</a>
                                </div>
                                
                                <form class="stdnt_frm">
                                    <input type="text" class="radius5" value="Nationality Preference" onblur=" if(this.value==''){this.value=this.defaultValue;}" onfocus="if(this.value==this.value)this.value=''">
                                    <input type="text" class="radius5" value="Gender Preference" onblur=" if(this.value==''){this.value=this.defaultValue;}" onfocus="if(this.value==this.value)this.value=''">
                                    <input type="text" class="radius5" value="Per hour ($) E.g. $15 - $20" onblur=" if(this.value==''){this.value=this.defaultValue;}" onfocus="if(this.value==this.value)this.value=''">
                                    <input type="text" class="radius5" value="Currency Preference" onblur=" if(this.value==''){this.value=this.defaultValue;}" onfocus="if(this.value==this.value)this.value=''">
                                    <input type="text" class="radius5" value="Time Zone" onblur=" if(this.value==''){this.value=this.defaultValue;}" onfocus="if(this.value==this.value)this.value=''">
                                    <input type="text" class="radius5" value="Availability" id="avlblty" onblur=" if(this.value==''){this.value=this.defaultValue;}" onfocus="if(this.value==this.value)this.value=''">
                                </form>
                                
                            </div>
                            
                            <div class="reqrd_tutn">Our Recommendation (Tutors) :
                                <ul class="rcmdtn">
                                    <li>Secondary 3, EMath </li>
                                    <li><img src="{% static "images/arrow.png" %}" width="16" height="12" alt="img"> 5 Tutors <a href="#">( 3 online, 2 ready to teach )</a></li>
                                    <li>Language, Thai </li>
                                    <li><img src="{% static "images/arrow.png" %}" width="16" height="12" alt="img"> <a href="#">3 Tutors (</a> 0 online, 0 ready to teach <a href="#">)</a></li>
                                </ul>            
                          </div>
                            
                      </div>
                    </div>
                </div>
    {% endblock bodycontent %}
    {% block footer %}
        <footer>
            <div class="wrapper">
                <div class="ftr_logo"><img src="{% static "images/prfct_tutor_footer.png" %}" width="201" height="40" alt="img"></div>
                <ul class="ftr_lnk">
                    <span class="lnk_hdng">About</span>
                    <li><a href="#">Our Mission</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Our Interns</a></li>
                    <li><a href="#">Our Content Specialists</a></li>
                </ul>
                <ul class="ftr_lnk">
                    <span class="lnk_hdng">Coaching</span>
                    <li><a href="#">Coach Reports</a></li>
                    <li><a href="#">Coach Resources</a></li>
                    <li><a href="#">Case Studies</a></li>
                    <li><a href="#">Common Core</a></li>
                </ul>
                <ul class="ftr_lnk">
                    <span class="lnk_hdng">Careers</span>
                    <li><a href="#">Full Time</a></li>
                    <li><a href="#">Internships</a></li>
                </ul>
                <ul class="ftr_lnk">
                    <span class="lnk_hdng">Help</span>
                    <li><a href="#">Report a Problem</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
                <div class="socl_link">
                    <ul class="social_icon">
                        <span class="lnk_hdng">Social</span>
                        <li><a href="#"><img src="{% static "images/fb.png" %}" width="9" height="17" alt="icon"></a></li>
                        <li><a href="#"><img src="{% static "images/twtr.png" %}" width="20" height="16" alt="icon"></a></li>
                        <li><a href="#"><img src="{% static "images/gogle.png" %}" width="17" height="17" alt="icon"></a></li>
                        <li><a href="#"><img src="{% static "images/blogster.png" %}" width="16" height="16" alt="icon"></a></li>
                    </ul>
                    <ul class="ftr_lnk">
                        <span class="lnk_hdng">Countact us</span>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Press</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    {% endblock footer %}
    {% block footernote %}
        <div class="lwr_ftr">
            <div class="wrapper">
                <ul class="prvt_plcy">
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
                <p class="ftr_txt"> © championtutoronline <br>Except where noted, all rights reserved.</p>

            </div>
        </div>
    {% endblock footernote %}
{% endblock body %}

{% block more_extra %}

{% endblock more_extra %}