<!DOCTYPE HTML>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>White Board</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
    <link href="css/jquery-ui-1.10.4.custom.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/CreateHTML5Elements.js"></script>
    <script src="./socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/chat/chat.js"></script>
    <script type="text/javascript" src="js/whiteboard/script.js"></script>

    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="js/mootools-core-1.4.2-full-compat.js"></script>
    <![endif]-->
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="js/selectivizr.js"></script>
    <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
    <![endif]-->
</head>

<body>



<div class="main">

<header>
    <div class="wrapper">
        <a id="logo" href="#"><img src="images/logo.png" width="265" height="69" alt="logo"></a>
        <ul class="menu">
            <li><a href="#">How it works</a>
            <li><a href="#">Search Tutors</a>
            <li><a href="#">Help</a></li>
        </ul>
        <div class="right_menu">
            <div class="en_icon"><img src="images/en.png" width="16" height="14" alt="icon"> En</div>
            <a href="#" class="sign_in">Sign in</a>
            <a href="#" class="rgster">Register</a>
        </div>
    </div>
</header>


<div class="header_bottom">
    <div class="wrapper">
        <div class="demo_lesson_progress radius3_top">
            <div class="demo_progress_img"><img src="images/wb_img1.png" width="38" height="38" alt="img"></div>
            Demo lesson <span>in progress</span>
        </div>
        <a href="#" class="free_trial radius3"> Claim your free trial </a>
    </div>
</div>

<div class="tabbings">
<div id="tabs">
<div id="tabs-1">
    <div class="canvas_menu">
        <div class="radius3 text_editor"> <a href="#" id="text"> Text </a> </div>

        <div class="radius3 text_editor"> <a href="#" id="default"> Default </a> </div>

        <div class="radius3 text_editor"> <a href="#"><img src="images/wb_rotate_left.png" width="14" height="15" alt="img"></a> <a href="#"><img src="images/wb_rotate_right.png" width="14" height="14" alt="img"></a> </div>

        <div class="radius3 text_editor"> <a href="#"><img src="images/wb_small_A_icon.png" width="10" height="9" alt="img"></a> <a href="#"><img src="images/wb_large_A_icon.png" width="13" height="12" alt="img"> </a> </div>

        <div class="radius3 text_editor"> <a href="#"><img src="images/wb_p_icon.png" width="25" height="11" alt="img"></a> </div>
    </div>
    <div class="document">
        <div>
            <div class="document_top">
                <a href="#" class="Document1 radius3">Document 1</a>
                <a href="#" class="new radius3"> New </a>
            </div>

            <textarea class="documnet_contnt radius3"></textarea>

        </div>
    </div>
</div>
<div id="tabs-2"><textarea class="aaa"></textarea>
    <div class="tab_right radius3">
        <a href="#"><img src="images/wb_upload_download_icon.png" width="16" height="13" alt="img"> Upload / Download</a>
        <a href="#"><img src="images/wb_revisions_icon.png" width="18" height="18" alt="img"> Revisions</a>
    </div>
</div>
<div id="tabs-3">
<div class="canvas_menu">
<div class="canvas_menu_icon">
<div class="canvas_menu_inner">
    <a  id="id_canvas_menu_icon_undo" href="#"> <img src="images/wb_menu_icon1.png" width="26" height="20" alt="img"> </a>
</div>
<div class="canvas_menu_inner">
    <a id="id_canvas_menu_icon_redo" href="#"> <img src="images/wb_menu_icon2.png" width="26" height="20" alt="img"> </a>
</div>
<div class="canvas_menu_inner">
    <a id="id_canvas_menu_icon_select" href="#"> <img src="images/wb_menu_icon3.png" width="21" height="21" alt="img"> </a>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="images/wb_menu_icon4.png" width="20" height="20" alt="img"> </a>
    <div class="wb_submenu_icon1">
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_pen_size5" href="#"> <img src="images/white_board/wb_menu_icon4_1.png" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_pen_size10" href="#"> <img src="images/white_board/wb_menu_icon4_2.png" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_pen_size15" href="#"> <img src="images/white_board/wb_menu_icon4_3.png" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_pen_size20" href="#"> <img src="images/white_board/wb_menu_icon4_4.png" width="30" height="26" alt="img"> </a> </div>
    </div>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="images/wb_menu_icon5.png" width="22" height="20" alt="img"> </a>
    <div class="wb_submenu_icon1">
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_eraser_size5" href="#"> <img src="images/white_board/wb_menu_icon4_1.png" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_eraser_size10" href="#"> <img src="images/white_board/wb_menu_icon4_2.png" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_eraser_size15" href="#"> <img src="images/white_board/wb_menu_icon4_3.png" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_eraser_size20" href="#"> <img src="images/white_board/wb_menu_icon4_4.png" width="30" height="26" alt="img"> </a> </div>
    </div>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="images/wb_menu_icon6.png" width="40" height="21" alt="img"> </a>
    <div class="wb_submenu_icon1">
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_brush_size5" href="#"> <img src="images/white_board/wb_menu_icon4_1.png" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_brush_size10" href="#"> <img src="images/white_board/wb_menu_icon4_2.png" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_brush_size15" href="#"> <img src="images/white_board/wb_menu_icon4_3.png" width="30" height="26" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_brush_size20" href="#"> <img src="images/white_board/wb_menu_icon4_4.png" width="30" height="26" alt="img"> </a> </div>
    </div>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="images/wb_menu_icon7.png" width="27" height="26" alt="img"> </a>
    <div class="wb_submenu_icon1">
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_circle" href="#"> <img src="images/white_board/wb_menu_icon7_1.png" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_hexa" href="#"> <img src="images/white_board/wb_menu_icon7_2.png" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_penta" href="#"> <img src="images/white_board/wb_menu_icon7_3.png" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_rect" href="#"> <img src="images/white_board/wb_menu_icon7_4.png" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_triangle" href="#"> <img src="images/white_board/wb_menu_icon7_5.png" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_righttriangle" href="#"> <img src="images/white_board/wb_menu_icon7_6.png" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_line" href="#"> <img src="images/white_board/wb_menu_icon7_7.png" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_arrow1" href="#"> <img src="images/white_board/wb_menu_icon7_8.png" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_shape_arrow2" href="#"> <img src="images/white_board/wb_menu_icon7_9.png" alt="img"> </a> </div>
    </div>
</div>
<div class="canvas_menu_inner">
    <a id="id_canvas_menu_icon_text" href="#"> <img src="images/wb_menu_icon8.png" width="22" height="23" alt="img"> </a>
    <div class="wb_submenu_icon"></div>
</div>
<div class="canvas_menu_inner">
    <a id="id_canvas_menu_icon_paintfill" href="#"> <img src="images/wb_menu_icon9.png" width="24" height="20" alt="img"> </a>
    <div class="wb_submenu_icon"></div>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="images/wb_menu_icon10.png" width="37" height="20" alt="img"> </a>
    <div class="wb_submenu_icon1">
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_graphno" href="#"> <img src="images/white_board/wb_menu_icon10_1.png" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_graphpage" href="#"> <img src="images/white_board/wb_menu_icon10_2.png" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_graph4_1" href="#"> <img src="images/white_board/wb_menu_icon10_3.png" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_graph4_2" href="#"> <img src="images/white_board/wb_menu_icon10_4.png" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_graph2" href="#"> <img src="images/white_board/wb_menu_icon10_5.png" alt="img"> </a> </div>
    </div>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="images/wb_fx_icon.png" alt="img"> </a>
    <div class="wb_submenu_icon whtebox_fx">
        <div class="wb_subsubmenu">
            <a href="#"> <img src="images/white_board/wb_menu_icon11_1.png" alt="img"> </a>
            <div class="sub_icon">
                <a id="id_fx_wb_menu_icon11_1_inner1" href="#"> <img src="images/white_board/wb_menu_icon11_1_inner1.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_1_inner2" href="#"> <img src="images/white_board/wb_menu_icon11_1_inner2.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_1_inner3" href="#"> <img src="images/white_board/wb_menu_icon11_1_inner3.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_1_inner4" href="#"> <img src="images/white_board/wb_menu_icon11_1_inner4.png" alt="img"> </a>
            </div>
        </div>
        <div class="wb_subsubmenu">
            <a href="#"> <img src="images/white_board/wb_menu_icon11_2.png" alt="img"> </a>
            <div class="sub_icon">
                <a id="id_fx_wb_menu_icon11_2_inner1" href="#"> <img src="images/white_board/wb_menu_icon11_2_inner1.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_2_inner2" href="#"> <img src="images/white_board/wb_menu_icon11_2_inner2.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_2_inner3" href="#"> <img src="images/white_board/wb_menu_icon11_2_inner3.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_2_inner4" href="#"> <img src="images/white_board/wb_menu_icon11_2_inner4.png" alt="img"> </a>
            </div>
        </div>
        <div class="wb_subsubmenu">
            <a href="#"> <img src="images/white_board/wb_menu_icon11_3.png" alt="img"> </a>
            <div class="sub_icon">
                <a id="id_fx_wb_menu_icon11_3_inner1" href="#"> <img src="images/white_board/wb_menu_icon11_3_inner1.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_3_inner2" href="#"> <img src="images/white_board/wb_menu_icon11_3_inner2.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_3_inner3" href="#"> <img src="images/white_board/wb_menu_icon11_3_inner3.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_3_inner4" href="#"> <img src="images/white_board/wb_menu_icon11_3_inner4.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_3_inner5" href="#"> <img src="images/white_board/wb_menu_icon11_3_inner5.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_3_inner6" href="#"> <img src="images/white_board/wb_menu_icon11_3_inner6.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_3_inner7" href="#"> <img src="images/white_board/wb_menu_icon11_3_inner7.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_3_inner8" href="#"> <img src="images/white_board/wb_menu_icon11_3_inner8.png" alt="img"> </a>
            </div>
        </div>
        <div class="wb_subsubmenu">
            <a href="#"> <img src="images/white_board/wb_menu_icon11_4.png" alt="img"> </a>
            <div class="sub_icon">
                <a id="id_fx_wb_menu_icon11_4_inner1" href="#"> <img src="images/white_board/wb_menu_icon11_4_inner1.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_4_inner2" href="#"> <img src="images/white_board/wb_menu_icon11_4_inner2.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_4_inner3" href="#"> <img src="images/white_board/wb_menu_icon11_4_inner3.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_4_inner4" href="#"> <img src="images/white_board/wb_menu_icon11_4_inner4.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_4_inner5" href="#"> <img src="images/white_board/wb_menu_icon11_4_inner5.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_4_inner6" href="#"> <img src="images/white_board/wb_menu_icon11_4_inner6.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_4_inner7" href="#"> <img src="images/white_board/wb_menu_icon11_4_inner7.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_4_inner8" href="#"> <img src="images/white_board/wb_menu_icon11_4_inner8.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_4_inner9" href="#"> <img src="images/white_board/wb_menu_icon11_4_inner9.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_4_inner10" href="#"> <img src="images/white_board/wb_menu_icon11_4_inner10.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_4_inner11" href="#"> <img src="images/white_board/wb_menu_icon11_4_inner11.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_4_inner12" href="#"> <img src="images/white_board/wb_menu_icon11_4_inner12.png" alt="img"> </a>
            </div>
        </div>
        <div class="wb_subsubmenu">
            <a href="#"> <img src="images/white_board/wb_menu_icon11_5.png" alt="img"> </a>
            <div class="sub_icon">
                <a id="id_fx_wb_menu_icon11_5_inner1" href="#"> <img src="images/white_board/wb_menu_icon11_5_inner1.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_5_inner2" href="#"> <img src="images/white_board/wb_menu_icon11_5_inner2.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_5_inner3" href="#"> <img src="images/white_board/wb_menu_icon11_5_inner3.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_5_inner4" href="#"> <img src="images/white_board/wb_menu_icon11_5_inner4.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_5_inner5" href="#"> <img src="images/white_board/wb_menu_icon11_5_inner5.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_5_inner6" href="#"> <img src="images/white_board/wb_menu_icon11_5_inner6.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_5_inner7" href="#"> <img src="images/white_board/wb_menu_icon11_5_inner7.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_5_inner8" href="#"> <img src="images/white_board/wb_menu_icon11_5_inner8.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_5_inner9" href="#"> <img src="images/white_board/wb_menu_icon11_5_inner9.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_5_inner10" href="#"> <img src="images/white_board/wb_menu_icon11_5_inner10.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_5_inner11" href="#"> <img src="images/white_board/wb_menu_icon11_5_inner11.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_5_inner12" href="#"> <img src="images/white_board/wb_menu_icon11_5_inner12.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_5_inner13" href="#"> <img src="images/white_board/wb_menu_icon11_5_inner13.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_5_inner14" href="#"> <img src="images/white_board/wb_menu_icon11_5_inner14.png" alt="img"> </a>
            </div>
        </div>
        <div class="wb_subsubmenu">
            <a href="#"> <img src="images/white_board/wb_menu_icon11_6.png" alt="img"> </a>
            <div class="sub_icon">
                <a id="id_fx_wb_menu_icon11_6_inner1" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner1.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner2" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner2.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner3" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner3.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner4" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner4.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner5" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner5.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner6" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner6.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner7" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner7.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner8" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner8.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner9" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner9.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner10" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner10.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner11" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner11.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner12" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner12.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner13" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner13.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner14" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner14.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner15" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner15.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner16" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner16.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner17" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner17.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner18" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner18.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner19" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner19.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner20" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner20.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner21" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner21.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner22" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner22.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner23" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner23.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner24" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner24.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner25" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner25.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner26" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner26.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner27" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner27.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner28" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner28.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner29" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner29.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_6_inner30" href="#"> <img src="images/white_board/wb_menu_icon11_6_inner30.png" alt="img"> </a>
            </div>
        </div>
        <div class="wb_subsubmenu">
            <a href="#"> <img src="images/white_board/wb_menu_icon11_7.png" alt="img"> </a>
            <div class="sub_icon" id="seven">
            </div>
        </div>
        <div class="wb_subsubmenu">
            <a href="#"> <img src="images/white_board/wb_menu_icon11_8.png" alt="img"> </a>
            <div class="sub_icon">
                <a id="id_fx_wb_menu_icon11_8_inner1" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner1.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner2" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner2.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner3" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner3.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner4" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner4.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner5" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner5.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner6" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner6.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner7" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner7.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner8" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner8.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner9" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner9.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner10" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner10.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner11" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner11.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner12" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner12.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner13" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner13.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner14" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner14.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner15" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner15.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner16" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner16.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner17" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner17.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner18" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner18.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner19" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner19.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner20" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner20.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner21" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner21.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner22" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner22.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner23" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner23.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner24" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner24.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner25" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner25.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner26" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner26.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner27" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner27.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_8_inner28" href="#"> <img src="images/white_board/wb_menu_icon11_8_inner28.png" alt="img"> </a>
            </div>
        </div>
        <div class="wb_subsubmenu">
            <a href="#"> <img src="images/white_board/wb_menu_icon11_9.png" alt="img"> </a>
            <div class="sub_icon">
                <a id="id_fx_wb_menu_icon11_9_inner1" href="#"> <img src="images/white_board/wb_menu_icon11_9_inner1.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_9_inner2" href="#"> <img src="images/white_board/wb_menu_icon11_9_inner2.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_9_inner3" href="#"> <img src="images/white_board/wb_menu_icon11_9_inner3.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_9_inner4" href="#"> <img src="images/white_board/wb_menu_icon11_9_inner4.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_9_inner5" href="#"> <img src="images/white_board/wb_menu_icon11_9_inner5.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_9_inner6" href="#"> <img src="images/white_board/wb_menu_icon11_9_inner6.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_9_inner7" href="#"> <img src="images/white_board/wb_menu_icon11_9_inner7.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_9_inner8" href="#"> <img src="images/white_board/wb_menu_icon11_9_inner8.png" alt="img"> </a>
            </div>
        </div>
        <div class="wb_subsubmenu">
            <a href="#"> <img src="images/white_board/wb_menu_icon11_10.png" alt="img"> </a>
            <div class="sub_icon">
                <a id="id_fx_wb_menu_icon11_10_inner1" href="#"> <img src="images/white_board/wb_menu_icon11_10_inner1.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_10_inner2" href="#"> <img src="images/white_board/wb_menu_icon11_10_inner2.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_10_inner3" href="#"> <img src="images/white_board/wb_menu_icon11_10_inner3.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_10_inner4" href="#"> <img src="images/white_board/wb_menu_icon11_10_inner4.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_10_inner5" href="#"> <img src="images/white_board/wb_menu_icon11_10_inner5.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_10_inner6" href="#"> <img src="images/white_board/wb_menu_icon11_10_inner6.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_10_inner7" href="#"> <img src="images/white_board/wb_menu_icon11_10_inner7.png" alt="img"> </a>
                <a id="id_fx_wb_menu_icon11_10_inner8" href="#"> <img src="images/white_board/wb_menu_icon11_10_inner8.png" alt="img"> </a>
            </div>
        </div>
        <div class="wb_subsubmenu">
            <a href="#"> <img src="images/white_board/wb_menu_icon11_11.png" alt="img"> </a>
            <div class="sub_icon" id="eleven">
            </div>
        </div>
        <div class="wb_subsubmenu">
            <a href="#"> <img src="images/white_board/wb_menu_icon11_12.png" alt="img"> </a>
            <div class="sub_icon" id="twelve">
            </div>
        </div>
        <div class="wb_subsubmenu">
            <a href="#"> <img src="images/white_board/wb_menu_icon11_13.png" alt="img"> </a>
            <div class="sub_icon" id="thirteen">
            </div>
        </div>
        <div class="wb_subsubmenu">
            <a href="#"> <img src="images/white_board/wb_menu_icon11_14.png" alt="img"> </a>
            <div class="sub_icon" id="fourteen">
            </div>
        </div>
    </div>
</div>
<div class="canvas_menu_inner">
    <a href="#"> <img src="images/white_board/wb_menu_icon12.png" alt="img"> </a>
    <div class="wb_submenu_icon1">
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_axis1" href="#"> <img src="images/white_board/wb_menu_icon12_1.png" alt="img"> </a> </div>
        <div class="wb_subsubmenu"> <a id="id_canvas_menu_icon_axismarked" href="#"> <img src="images/white_board/wb_menu_icon12_2.png" alt="img"> </a> </div>
    </div>
</div>
</div>
<div class="add"><img src="images/wb_upload_icon.png" width="21" height="22" alt="icon">  Upload File
    <!--<input type="file" required="required" onchange=" checkFile(this);getElementById('filevalue').value = getElementById('file_upload').value;getElementById('filevalue').style.display='block'; " id="file_upload" title="Browse File" name="file1" value="Browse File" class="file radius" style="display:block;">!-->
    <input type="file" id="file_upload" title="Browse File" name="file1" value="Browse File" class="file radius" style="display:block;">
</div>
<div class="canvas_color">
    <a href="#" id="black"></a>
    <a href="#" id="orange"></a>
    <a href="#" id="sky_blue"></a>
    <a href="#" id="green"></a>
    <a href="#" id="yellow"></a>
    <a href="#" id="peach"></a>
    <a href="#" id="gray"></a>
</div>

</div>

<div style="width: 100%;text-align:center;"><canvas id="drawing_board" width="800" height="380" tabindex = '1' style="   margin-left: auto;
                    margin-right: auto;
                    display: block;
                    width: 800px;
                    height: 380px;
                    -webkit-filter: drop-shadow(0 0 7px rgba(0,0,0,0.5));"></canvas> </div>
</div>



<div class="show_menu_icon"> <img src="images/show_menu_icon.png" width="22" height="22" alt="img"> Show </div>
<ul>
    <div class="sharing_video radius3_top">
        <div class="chat_header">
            <span class="online"><img width="12" height="12" alt="img" src="images/online.png"></span>
            Audio/Video Sharing
            <a id="hidee" href="#"> <img width="15" height="9" alt="img" src="images/hide_icon.png"> </a>
        </div>
        <div class="video_section"> <img src="images/video.png" width="191" height="142" alt="img"> </div>
    </div>

    <div class="chat radius3_top">
        <div class="chat_header">
            <span class="online"><img src="images/online.png" width="12" height="12" alt="img"></span>
            Tutor
            <a href="#" id="hide"> <img src="images/hide_icon.png" width="15" height="9" alt="img"> </a>
            <a href="#"> <img src="images/chat_icon.png" width="15" height="15" alt="img"> </a>
        </div>
        <div class="chat_contnt"></div>
        <div class="chat_txt"> <input id="chat_input_textbox" type="text" placeholder="Enter a Message">  <a href="#"></a> </div>
    </div>
    <div class="left_detail">
        <div class="sharing radius3"><img src="images/wb_online.png" width="14" height="14" alt="img">Sharing</div>
        <div class="different_detail">

            <div class="different_detail_inner">
                <div class="different_detail_img"> <img src="images/help_icon.png" width="17" height="17" alt="img"> </div>
                <a href="#"> Help </a>
            </div>

            <div class="different_detail_inner">
                <div class="different_detail_img"><img src="images/wb_setting_icon.png" width="19" height="19" alt="img"> </div> <a href="#"> Settings </a>
            </div>
            <div class="different_detail_inner">
                <div class="different_detail_img"><img src="images/wb_screensharing_icon.png" width="20" height="19" alt="img"> </div> <a href="#"> Screensharings </a>
                <div class="onoffswitch6">
                    <input type="checkbox" name="onoffswitch6" class="onoffswitch6-checkbox" id="myonoffswitch6" checked>
                    <label class="onoffswitch6-label" for="myonoffswitch6">
                        <span class="onoffswitch6-inner"></span>
                        <span class="onoffswitch6-switch"></span>
                    </label>
                </div>
            </div>
            <div class="different_detail_inner">
                <div class="different_detail_img"> <img src="images/video_icon.png" width="25" height="14" alt="img"> </div>
                <div class="onoffswitch3">
                    <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" checked>
                    <label class="onoffswitch3-label" for="myonoffswitch3">
                        <span class="onoffswitch3-inner"></span>
                        <span class="onoffswitch3-switch"></span>
                    </label>
                </div>
            </div>
            <div class="different_detail_inner">
                <div class="different_detail_img"><img src="images/wb_sound_icon.png" width="21" height="19" alt="img"> </div>
                <div class="onoffswitch4">
                    <input type="checkbox" name="onoffswitch4" class="onoffswitch4-checkbox" id="myonoffswitch4" checked>
                    <label class="onoffswitch4-label" for="myonoffswitch4">
                        <span class="onoffswitch4-inner"></span>
                        <span class="onoffswitch4-switch"></span>
                    </label>
                </div>
            </div>
        </div>

    </div>
    <div class="hide_menu"><img src="images/hide_menu_icon.png" width="22" height="22" alt="img"> Hide </div>

    <div class="tutor radius3"><img src="images/wb_online.png" width="14" height="14" alt="img">Tutor</div>

    <li><a href="#tabs-1">Code Editor</a></li>
    <li><a href="#tabs-2">Text Editor</a></li>
    <li><a href="#tabs-3">Whiteboard</a></li>


</ul>
</div>
</div>
</div>
</body>
</html>
<script>
    $(document).ready(function(){
        var i=0;
        var c='';
        for(i=1;i<=48;i++)
        {
            c+='<a id="id_fx_wb_menu_icon11_7_inner'+i+'" href="#"> <img src="images/white_board/wb_menu_icon11_7_inner'+i+'.png" alt="img"> </a>';
        }
        document.getElementById('seven').innerHTML=c;
    });
</script>
<script>
    $(document).ready(function(){
        var i=0;
        var c='';
        for(i=1;i<=153;i++)
        {
            c+='<a id="id_fx_wb_menu_icon11_11_inner'+i+'" href="#"> <img src="images/white_board/wb_menu_icon11_11_inner'+i+'.png" alt="img"> </a>';
        }
        document.getElementById('eleven').innerHTML=c;
    });
</script>
<script>
    $(document).ready(function(){
        var i=0;
        var c='';
        for(i=1;i<=46;i++)
        {
            c+='<a id="id_fx_wb_menu_icon11_12_inner'+i+'" href="#"> <img src="images/white_board/wb_menu_icon11_12_inner'+i+'.png" alt="img"> </a>';
        }
        document.getElementById('twelve').innerHTML=c;
    });
</script>
<script>
    $(document).ready(function(){
        var i=0;
        var c='';
        for(i=1;i<=54;i++)
        {
            c+='<a id="id_fx_wb_menu_icon11_13_inner'+i+'" href="#"> <img src="images/white_board/wb_menu_icon11_13_inner'+i+'.png" alt="img"> </a>';
        }
        document.getElementById('thirteen').innerHTML=c;
    });
</script>
<script>
    $(document).ready(function(){
        var i=0;
        var c='';
        for(i=1;i<=70;i++)
        {
            c+='<a id="id_fx_wb_menu_icon11_14_inner'+i+'" href="#"> <img src="images/white_board/wb_menu_icon11_14_inner'+i+'.png" alt="img"> </a>';
        }
        document.getElementById('fourteen').innerHTML=c;
    });
</script>

<script>









    //$(".canvas_menu_inner > a").click(function () {
    //   $(".canvas_menu_inner > a").removeClass("menu_active");
    //   $(this).toggleClass("menu_active");
    //   $(".wb_submenu_icon").removeClass("addactive");
    //   if ($('.canvas_menu_inner > a').has("menu_active"))
    //   {
    //      $(this).siblings(".wb_submenu_icon").addClass("addactive");
    //   }
    //});


    $(function(){

        $(".canvas_menu_inner > a").click(function(e){
            e.stopPropagation();

            $(this).parent().siblings('.canvas_menu_inner').children('.canvas_menu_inner > a').removeClass("menu_active");
            $(this).toggleClass("menu_active");

            $(this).parent().siblings('.canvas_menu_inner').children('.wb_submenu_icon,.wb_submenu_icon1').removeClass("addactive");
            $(this).siblings(".wb_submenu_icon,.wb_submenu_icon1").toggleClass("addactive");


            $("body").click(function(e){
                if(e.target.id != "dropdown")
                {
                    $(".canvas_menu_inner > a").removeClass("menu_active");
                    $(".wb_submenu_icon,.wb_submenu_icon1").removeClass("addactive");
                    $('.sub_icon').removeClass("addactive");
                    $('.wb_subsubmenu > a').removeClass("hover_bg");
                    $("body").unbind("click");
                }
            });
        });
    });

    $(".wb_submenu_icon").click(function () {
        return false;
    });

    $(".wb_subsubmenu").click(function () {
        $(this).siblings('.wb_subsubmenu').children('.sub_icon').removeClass("addactive");
        $('.sub_icon',this).addClass("addactive");
        $(this).siblings('.wb_subsubmenu').children('.wb_subsubmenu > a').removeClass("hover_bg");

        $('a',this).addClass("hover_bg");
        $('.sub_icon.addactive > a').removeClass("hover_bg");
    });
    $(".sub_icon.addactive").click(function () {
        return true;
    });
    $(".sub_icon > a").click(function () {
        $('.canvas_menu_inner > a').removeClass("menu_active");
        $('.sub_icon,.wb_submenu_icon').removeClass("addactive");
    });
</script>



<script>
    //$(".canvas_menu_inner").click(function () {
    //   $('a').removeClass("menu_active");
    //   $('a',this).addClass("menu_active");
    //   $('.wb_submenu_icon').removeClass("addactive");
    //   $('.wb_submenu_icon',this).addClass("addactive");
    //});
    //$(".wb_subsubmenu").click(function () {
    //   $(".sub_icon").removeClass("addactive");
    //   $(".sub_icon",this).addClass("addactive");
    //});
    //$(".sub_icon").click(function () {
    //   $(this).parent().parent().removeClass('addactive');
    //});
</script>

<script src="js/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea.aaa",
    });
</script>

<script>
    $(".show_menu_icon").click(function () {
        $("ul.ui-tabs-nav").show();
        $(".show_menu_icon").hide();
    });
    $(".hide_menu").click(function () {
        $("ul.ui-tabs-nav").hide();
        $(".show_menu_icon").show();
    });
</script>
<script>
    $(".sharing").click(function () {
        $(".sharing_video").toggleClass("added");
    });
    $(".tutor").click(function () {
        $(".chat").toggleClass("added");
    });
    $("a#hide").click(function () {
        $(".chat").removeClass("added");
    });
    $("a#hidee").click(function () {
        $(".sharing_video").removeClass("added");
    });
</script>
<script>

    function jsLoadFail()
    {

    }

    function jsOnload() {
        if (window.resourcesLoaded) {
            afterLoad();


            // Basic session workspace variables



            var opentokConfig = {

                apiKey: '11038762',
                token: null,
                sessionID: '1_MX4xMTAzODc2Mn4xMjIuMTczLjE4MS4wflRodSBTZXAgMDQgMDU6NTU6MTQgUERUIDIwMTR-MC44MDY5NzN-UH4',
                webrtcSessionID: '2_MX4xMTAzODc2Mn4xMjIuMTczLjE4MS4wflRodSBTZXAgMDQgMDU6NTU6MTQgUERUIDIwMTR-MC4wOTMwMDE0ODV-fg',

                webrtcCapable: !!(window.mozRTCPeerConnection || window.webkitRTCPeerConnection || window.RTCPeerConnection)
            };
            opentokConfig.webrtc = opentokConfig.webrtcCapable;

            var isDemoLesson = true,
                    isScheduledLesson = false,
                    isOnDemandLesson = !isDemoLesson && !isScheduledLesson,
                    isReadOnly = false;

            updateConfig({

                OMNIBAR_HIDE: true
            });

            require(['lesson/config', 'lesson/init', 'lesson/modules/workspace/utils'],
                    function(config, lesson, lessonUtils) {
                        _(config).extend({
                            endpoints: {
                                SUBMIT_QUESTION_URL: "/s/M8EC7/submit-question/"
                            },
                            user: {
                                id: '234235',
                                code: '234235',
                                role: 1,
                                isCandidate: false
                            },
                            otherUser: {
                                id: ''
                            },
                            userPhotos: {
                                '234235': lessonUtils.getViewingIcon(''),
                                '': lessonUtils.getViewingIcon('')
                            },
                            code: 'M8EC7',
                            context: 'tutor_waiting',
                            medium: 1,
                            started: false,
                            isDemo: isDemoLesson,
                            isScheduled: isScheduledLesson,
                            isOnDemand: isOnDemandLesson,
                            isReadOnly: isReadOnly,
                            isLive: (!isReadOnly && !isDemoLesson),
                            question: null
                        });


                        lesson.start({
                            paperboard: {
                                el: $('#whiteboard'),
                                $pagination: $('#paperboard'),
                                $grid: $('.grid'),
                                $cursor: $('#other-cursor')
                            },
                            chat: {
                                el: $('#lesson-chat'),
                                $footer: $('.chat-footer'),
                                $template: $('#lesson-chat-template')
                            },
                            video: {
                                $myStreamContainer: $('#my-stream-container'),
                                $streamContainer: $('#lesson-stream'),
                                $indicators: $('.column.sharing'),
                                $otherIndicators: $('.tutor.column'),
                                $helpContainer: $('.setup-messaging'),
                                $settingsModal: $('#video-settings-modal'),
                                opentok: opentokConfig,
                                GENERATE_OPENTOK_TOKEN_URL: "/s/M8EC7/generate-token/",
                                conference: {
                                    $layout: $('.setup-conference'),
                                    $modal: $('#lesson-conference-how-it-works'),
                                    config: {

                                        code: null,
                                        phoneNumber: null

                                    }
                                }
                            },
                            ide: {
                                el: $('#ide'),
                                url: 'https://instaedu.com/ide//lesson/M8EC7'
                            },
                            etherpad: {
                                el: $('#etherpad'),
                                url: 'https://instaedu.com/pad//p/M8EC7?showChat=false&amp;showLineNumbers=false&amp;showUserIcon=false&amp;userName=Student'
                            },
                            polling: {
                                LESSON_STATUS_URL: "/s/M8EC7/status/",
                                CREATE_LESSON_EVENT_URL: "/s/M8EC7/event/"
                            },
                            workspace: {
                                el: $('#main'),
                                supportButton: {
                                    el: $('.control.support')
                                },
                                messageModal: {
                                    el: $('#message-modal'),
                                    submitURL: '/online_tutors/message/',
                                    successURL: '/s/M8EC7/message/success/'
                                },
                                backspaceModal: {
                                    el: $('#backspace-modal')
                                }
                            },
                            screenshare: {
                                el: $('#screensharing'),
                                $footer: $('#screensharing-footer')
                            }
                        });
                    });

            PointerEventsPolyfill.initialize({
                selector: '#other-cursor'
            });

        } else {
            jsLoadFail();
        }
    };

    function loadJs() {
        $.ajax({
            url: '/publish/static/js/cc4d74c818_bundle_plugins_and_core.js',
            dataType: 'script',
            cache: true,
            success: jsOnload,
            error: jsLoadFail
        });
    }

    if (window.jQuery) {
        $(document).ready(loadJs);
    } else {
        jsLoadFail();
    }
</script>
<script src="js/jquery-ui-1.10.4.custom.js"></script>
<script>
    $( "#tabs" ).tabs();
</script>