{% extends "base.html" %}
{% load staticfiles %}

{% block script_extra %}
    <!--[if (gte IE 6)&(lte IE 8)]>

    <script type="text/javascript" src="js/mootools-core-1.4.2-full-compat.js"></script>

    <![endif]-->

    <!--[if (gte IE 6)&(lte IE 8)]>

    <script type="text/javascript" src="js/selectivizr.js"></script>

    <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>

    <![endif]-->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{%  static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/chat/chat.js" %}"></script>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script src="http://static.opentok.com/webrtc/v2.2/js/TB.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/etherpad.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/opentok-layout.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/chat/videochat.js" %}"></script>
    <script src="{% static "js/chat/buddy_click_handlers.js" %}"></script>
    <script src="{% static "js/CanvasInput.js" %}"></script>
    <script src="{% static "js/whiteboard/base.js" %}"></script>
    <script src="{% static "js/whiteboard/Tools.js" %}"></script>
    <script src="{% static "js/whiteboard/init.js" %}"></script>
    <script src="{% static "js/whiteboard/DOMEventHandler.js" %}"></script>
    <script src="{% static "js/whiteboard/drawingactions.js" %}"></script>
    <script src="{% static "js/whiteboard/collections.js" %}"></script>
    <script src="{% static "js/whiteboard/live.js" %}"></script>
    <script src="{% static "js/whiteboard/mouseout.js" %}"></script>
    <script src="{% static "js/whiteboard/mousedown.js" %}"></script>
    <script src="{% static "js/whiteboard/mousemove.js" %}"></script>
    <script src="{% static "js/whiteboard/mouseclick.js" %}"></script>
    <script src="{% static "js/whiteboard/mouseevents.js" %}"></script>
    <script src="{% static "js/whiteboard/keyboardevents.js" %}"></script>
    <script src="{% static "js/whiteboard/main.js" %}"></script>
    <style type="text/css">
    .other-person
    {
        position: relative;
        background: #ffffff;
        border: 2px solid #ffffff;
        padding: 10px;
        border-radius: 5px;
    }
    .other-person:after,other-person:before
    {
        right: 100%;
        top: 16px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .other-person:after
    {
        border-color: rgba(211, 212, 213, 0);
        border-right-color: #ffffff;
        border-width: 14px;
        margin-top: -14px;
    }
    .other-person:before
    {
        border-color: rgba(243, 243, 245, 0);
        border-right-color: #ffffff;
        border-width: 17px;
        margin-top: -17px;
    }


    .me
    {
        position: relative;
        background: #ffffff;
        border: 2px solid #ffffff;
        padding: 10px;
        border-radius: 5px;
    }
    .me:after, .me:before 
    {
        left: 100%;
        top: 16px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .me:after 
    {
        border-color: rgba(211, 212, 213, 0);
        border-left-color: #ffffff;
        border-width: 14px;
        margin-top: -14px;
    }
    .me:before 
    {
        border-color: rgba(243, 243, 245, 0);
        border-left-color: #ffffff;
        border-width: 17px;
        margin-top: -14px;
    }

    label.time
    {
        color: #cccccc;
        margin-bottom: -10px;
    }

    .sharing_video
    {
        width: 300px;
        height: 250px;
        bottom: 63px;
        left: 3px;    }

    .video_section
    {
        width: 300px;
        height: 250px;
        background: black;
        border: 1px solid gray;
    }

    .video-box
    {
        float: left;
        width: 200px;
        height: 200px;
        margin: 3px;
        background: gray;
        z-index: 90;
        background-image: url({% static "images/profile_img.png" %});
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .myVideo-box
    {
        position: absolute;
        bottom: 45px;
        right: 12px;
        width: 150px;
        height: 150px;
        z-index: 91;
        background: black;
    }

    .calling
    {
        position: relative;
        bottom: 0px;
        right: 0px;
    }

    #id_video_sharing_container
    {
        background-color: black;
    }

    #incoming_call_notification_area
    {
        width: 440px;
        position: fixed;
        top: 0px;
        left:0px;
        padding: 10px;
        z-index: 9000000000;
        background-color: #dedede;
        border-radius: 10px;
        border-width: 1px;
        border-color: gray;
        margin-left: 10px;
        margin-top: 7px;
        display: none;
    }

    #outgoing_call_notification_area
    {
        width: 440px;
        position: fixed;
        top: 20%;
        left:50%;
        padding: 10px;
        z-index: 9000000000;
        background-color: #dedede;
        border-radius: 10px;
        border-width: 1px;
        border-color: gray;
        margin-left: 10px;
        margin-top: 7px;
        display: none;
    }

    .outgoing-call-popup
    {
        background-color: white;
        margin-top: 4px;
    }

    .incoming_call_popup
    {
        margin-bottom: 10px;
        background-color: white;
        padding: 10px;
    }

    .call-notif-popup-button
    {
        width: 120px;
        margin-right: 3px;
    }

    #id_add_buddy_group_call
    {
        position: absolute;
        top: 40px;
        left: 0px;
        min-height: 40px;
        width: 100%;
        z-index: 1000;
        padding: 3px;
        background-color: rgb(222, 222, 222);
        display: none;
    }

    #controlbar
    {
        width: 100%;
        height: 40px;
        position: absolute;
        right: 0px;
        bottom: 0px;
        z-index: 1001;
        background-color: #303030;
        opacity: 0.5;
        padding-left: 10px;
        padding-right: 10px;
    }

    </style>
    <script>
        // $(document).ready(function() {
        //     var dots = 0;

        //     function type() {
        //         if(dots < 3) {
        //             $('.calling').append('.');
        //             dots++;
        //         }
        //         else{
        //             dots = 0;
        //         }
        //     }​

        //     setInterval (type, 600);
        // });
        $(document).ready(function()
        {
            $("#incoming_call_notification_area").css("cursor","move");
            $("#incoming_call_notification_area").draggable();

            $(".sharing_video").css("cursor","move");
            $(".sharing_video").draggable();

            $("#outgoing_call_notification_area").css("cursor","move");
            $("#outgoing_call_notification_area").draggable();

            $("#id_add_buddy_to_call_group").click(function(e)
            {
                $("#id_add_buddy_group_call").show();
            });

            $("#id_video_section").click(function(e)
            {
                $("#id_add_buddy_group_call").hide();
            });

        });
    </script>
{% endblock script_extra %}

{% block body %}
    {% block header %}
        {{ block.super }}
    {% endblock header %}
    {% block bodycontent %}
        <div class="header_bottom">
            <div class="wrapper">
                <div class="demo_lesson_progress radius3_top">
                    <div class="demo_progress_img"><img src="{% static "images/wb_img1.png" %}" width="38" height="38" alt="img"></div>
                    Demo lesson <span>in progress</span>
                </div>
                <a href="#" class="free_trial radius3"> Claim your free trial </a>
            </div>
        </div>
        <div id="incoming_call_notification_area">
            
        </div>
        <div id="outgoing_call_notification_area">
                
        </div>
        <div class="tabbings">
        <div id="tabs">
            <div id="tabs-1">
                <!-- <div class="canvas_menu">
                    <div class="radius3 text_editor"> <a href="#" id="text"> Text </a> </div>

                    <div class="radius3 text_editor"> <a href="#" id="default"> Default </a> </div>

                    <div class="radius3 text_editor"> <a href="#"><img src="{% static "images/wb_rotate_left.png" %}" width="14" height="15" alt="img"></a> <a href="#"><img src="{% static "images/wb_rotate_right.png" %}" width="14" height="14" alt="img"></a> </div>

                    <div class="radius3 text_editor"> <a href="#"><img src="{% static "images/wb_small_A_icon.png" %}" width="10" height="9" alt="img"></a> <a href="#"><img src="{% static "images/wb_large_A_icon.png" %}" width="13" height="12" alt="img"> </a> </div>

                    <div class="radius3 text_editor"> <a href="#"><img src="{% static "images/wb_p_icon.png" %}" width="25" height="11" alt="img"></a> </div>
                </div>
                <div class="document">
                    <div>
                        <div class="document_top">
                            <a href="#" class="Document1 radius3">Document 1</a>
                            <a href="#" class="new radius3"> New </a>
                        </div>

                        <textarea class="documnet_contnt radius3"></textarea>

                    </div>
                </div> -->
            </div>
            <div id="tabs-2">
                <!-- Data for Text Editor. !-->
            </div>
            <div id="tabs-3">
                <!-- Data for whiteboard. !-->
            </div>
            
            <div class="show_menu_icon">
                <img src="{% static "images/show_menu_icon.png" %}" width="22" height="22" alt="img">
                    Show
            </div>
                <ul>
                    <div id="id_video_sharing_container" class="sharing_video radius3_top">
                        <div class="chat_header">
                            <span class="online"><img width="12" height="12" alt="img" src="{% static "images/online.png" %}"></span>
                            Audio/Video Sharing
                            <a id="id_hide_video_window" href="#"> <img width="15" height="9" alt="img" src="{% static "images/hide_icon.png" %}"> </a>
                            <!-- <a id="id_add_buddy_to_call_group" href="#"> <img width="15" height="9" alt="img" src="{% static "images/blue_pls.png" %}"> </a> -->
                        </div>
                        <div id="id_add_buddy_group_call" class="add_buddy_group_call">
                            <input type='hidden' class='hidden-selected-val'/>
                            <input type="text" class="form-control add-group-buddy-call" style="width: 200px;float: left;" placeholder="Type Tutor Name Here" autocomplete="on"/>
                            <button class="btn btn-primary" id="id_add_buddy_to_group" style="float:right;background:green;">Add To Conference</button>
                        </div>
                        <div id="id_video_section" class="video_section">

                        </div>
                        <div id="controlbar" class="text-center">
                            <div class="different_detail_inner text-center" style="width: 110px;">
                                <div class="different_detail_img"> <img src="{% static "images/video_icon.png" %}" width="25" height="14" alt="img"> </div>
                                <div class="onoffswitch3">
                                    <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" checked>
                                    <label class="onoffswitch3-label" for="myonoffswitch3">
                                        <span class="onoffswitch3-inner"></span>
                                        <span class="onoffswitch3-switch"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="different_detail_inner text-center" style="width: 110px;">
                                <div class="different_detail_img"><img src="{% static "images/wb_sound_icon.png" %}" width="21" height="19" alt="img"> </div>
                                <div class="onoffswitch4">
                                    <input type="checkbox" name="onoffswitch4" class="onoffswitch4-checkbox" id="myonoffswitch4" checked>
                                    <label class="onoffswitch4-label" for="myonoffswitch4">
                                        <span class="onoffswitch4-inner"></span>
                                        <span class="onoffswitch4-switch"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="different_detail_inner text-center" style="width: 110px;">
                                <button id="id_end_call" class="btn btn-danger">End Call</button>
                            </div>
                        </div>
                    </div>
                    <div class="left_detail">
                        <div class="sharing radius3"><img src="{% static "images/wb_online.png" %}" width="14" height="14" alt="img">Sharing</div>
                        <div class="different_detail">

                            <div class="different_detail_inner">
                                <div class="different_detail_img"> <img src="{% static "images/help_icon.png" %}" width="17" height="17" alt="img"> </div>
                                <a href="#"> Help </a>
                            </div>

                            <div class="different_detail_inner">
                                <div class="different_detail_img"><img src="{% static "images/wb_setting_icon.png" %}" width="19" height="19" alt="img"> </div> <a href="#"> Settings </a>
                            </div>
                            <div class="different_detail_inner">
                                <div class="different_detail_img"><img src="{% static "images/wb_screensharing_icon.png" %}" width="20" height="19" alt="img"> </div> <a href="#"> Screensharings </a>
                                <div class="onoffswitch6">
                                    <input type="checkbox" name="onoffswitch6" class="onoffswitch6-checkbox" id="myonoffswitch6" checked>
                                    <label class="onoffswitch6-label" for="myonoffswitch6">
                                        <span class="onoffswitch6-inner"></span>
                                        <span class="onoffswitch6-switch"></span>
                                    </label>
                                </div>
                            </div>
                            <!-- <div class="different_detail_inner">
                                <div class="different_detail_img"> <img src="{% static "images/video_icon.png" %}" width="25" height="14" alt="img"> </div>
                                <div class="onoffswitch3">
                                    <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" checked>
                                    <label class="onoffswitch3-label" for="myonoffswitch3">
                                        <span class="onoffswitch3-inner"></span>
                                        <span class="onoffswitch3-switch"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="different_detail_inner">
                                <div class="different_detail_img"><img src="{% static "images/wb_sound_icon.png" %}" width="21" height="19" alt="img"> </div>
                                <div class="onoffswitch4">
                                    <input type="checkbox" name="onoffswitch4" class="onoffswitch4-checkbox" id="myonoffswitch4" checked>
                                    <label class="onoffswitch4-label" for="myonoffswitch4">
                                        <span class="onoffswitch4-inner"></span>
                                        <span class="onoffswitch4-switch"></span>
                                    </label>
                                </div>
                            </div> -->
                        </div>

                    </div>
                    <div class="hide_menu"><img src="{% static "images/hide_menu_icon.png" %}" width="22" height="22" alt="img"> Hide </div>

                    <!-- <div class="tutor radius3"><img src="{% static "images/wb_online.png" %}" width="14" height="14" alt="img">Tutor</div> -->

                    <li><a id="id_tab_code_editor" href="#tabs-1">Code Editor</a></li>
                    <li><a id="id_tab_text_editor" href="#tabs-2">Text Editor</a></li>
                    <li><a id="id_tab_white_board" href="#tabs-3">Whiteboard</a></li>


                </ul>
            </div>
        </div>
        <div id="id_chat_sidebar_floating" class="center-right">
            <button class="btn btn-primary" id="id_button_tut_online_toggle">Students Online</button>
            <div class="chat_sidebar radius3_top" id="id_chat_tutor_list">
<!--                     <div class="chat_sidebar_header">
                        <a href="#"><h4 style="color:white;">Tutors Online</h4></a>
                    </div> -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">
                                <input style="width:283px;float:left;padding-right:12px;" type="text" class="form-control"  placeholder="Search tutors online"></input>
                                <!-- <button style="width: 0px;float:left;margin-left:-10px;" type="text" class="form-control"  placeholder="Search tutors online"><span class="glyphicon glyphicon-search"></span></button> -->
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for teacher in teachers %}
                                <tr>
                                    <td>
                                        <input type="hidden" class="tutor_uid" value="{{ teacher.id }}"/>
                                        <input type="hidden" class="online_status" value="offline"/>
                                        <img src="{% static "images/msg_img1.png" %}" class="pimg_url" width="40" height="40"/>
                                        <br/>
                                        <br/>
                                        <span class="badge">6/10</span>
                                        </td>
                                    <td style="width: 220px;">
                                        <div><a href="#"><label class="tut_name">{{ teacher.fullname }}</label><span class="pull-right ic_online" style="display:none;"><img src="{% static "images/online.png" %}" width="12" height="12"/></span></a></div>
                                        <div style="color:gray;">Expert in Computer Science</div>
                                        <div>Category: Computer Science</div>
                                        <div><span class="glyphicon glyphicon-comment champ_text_chat"></span>
                                        &nbsp;<span class="glyphicon glyphicon-earphone champ_video_chat" disabled></span></div>
                                    </td>
                                </tr>
                            {% endfor %}
                            <!-- <tr>
                                <td>
                                    <input type="hidden" class="tutor_uid" value="4"/>
                                    <img src="" class="pimg_url" width="20" height="20"/></td>
                                <td>
                                    <div><a href="#"><label class="tut_name">Md Shariful Islam</label><span class="pull-right badge">6/10</span></a></div>
                                    <div style="color:gray;">Expert in Computer Science</div>
                                    <div>Also teach in Math, Geology</div>
                                    <div><span class="glyphicon glyphicon-comment champ_text_chat"></span>
                                    &nbsp;<span class="glyphicon glyphicon-earphone champ_video_chat"></span>
                                    &nbsp;<span class="glyphicon glyphicon-earphone"></span></div>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                    <!-- <div class="chat_sidebar_footer"></div> -->         
                </div>
        </div>
        <div id="chatBoxContainer">

                <!-- <div class="chat_sidebar1 radius3_top">
                    <div class="chat_sidebar_header">
                        <a href="#"><h4 style="color:white;">Tutors Online</h4></a>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2">
                                <input style="width:200px;float:left;padding-right:12px;" type="text" class="form-control"  placeholder="Search tutors online"></input>
                                <button style="width: 40px;float:left;margin-left:-10px;" type="text" class="form-control"  placeholder="Search tutors online"><span class="glyphicon glyphicon-search"></span></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for teacher in teachers %}
                                <tr>
                                    <td>
                                        <input type="hidden" class="tutor_uid" value="{{ teacher.id }}"/>
                                        <img src="" class="pimg_url" width="20" height="20"/></td>
                                    <td>
                                        <div><a href="#"><label class="tut_name">{{ teacher.fullname }}</label><span class="pull-right badge">6/10</span></a></div>
                                        <div style="color:gray;">Expert in Computer Science</div>
                                        <div>Also teach in Math, Geology</div>
                                        <div><span class="glyphicon glyphicon-comment champ_text_chat"></span>
                                        &nbsp;<span class="glyphicon glyphicon-earphone champ_video_chat"></span>
                                        &nbsp;<span class="glyphicon glyphicon-earphone"></span></div>
                                    </td>
                                </tr>
                            {% endfor %}
                            <!-- <tr>
                                <td>
                                    <input type="hidden" class="tutor_uid" value="4"/>
                                    <img src="" class="pimg_url" width="20" height="20"/></td>
                                <td>
                                    <div><a href="#"><label class="tut_name">Md Shariful Islam</label><span class="pull-right badge">6/10</span></a></div>
                                    <div style="color:gray;">Expert in Computer Science</div>
                                    <div>Also teach in Math, Geology</div>
                                    <div><span class="glyphicon glyphicon-comment champ_text_chat"></span>
                                    &nbsp;<span class="glyphicon glyphicon-earphone champ_video_chat"></span>
                                    &nbsp;<span class="glyphicon glyphicon-earphone"></span></div>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                    <div class="chat_sidebar_footer"></div>
                </div>
                <div id="id_chat_window_container">
                    <div class="over-chat-list">
                        
                    </div>
                    <!-- <div class="chat radius3_top">
                        <div class="chat_header">
                            <input class="expanded" type="hidden" value="true"/>
                            <input type="hidden" class="chat_widget_name" value=""/>
                            <span class="online"><img src="{% static "images/online.png" %}" width="12" height="12" alt="img"></span>
                            Shuvankar Saha
                            <a href="#" class="chat_min"> <img src="{% static "images/hide_icon.png" %}" width="15" height="9" alt="img"> </a>
                            <a href="#"> <img src="{% static "images/chat_icon.png" %}" width="15" height="15" alt="img"> </a>
                        </div>
                        <div class="chat_contnt">
                            <ul>
                                <li class="me">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="img">
                                                    <img src="" width="30" height="30"/>
                                                </td>
                                                <td class="data">
                                                    Hi, how are you? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                </li>
                                <li class="other">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="data other-person">
                                                    Hi, how are you? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                                </td>
                                                <td class="img">
                                                    <img src="" width="30" height="30"/>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                </li>
                                <li class="me">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="img">
                                                    <img src="" width="30" height="30"/>
                                                </td>
                                                <td class="data">
                                                    H
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                </li>
                                <li class="other">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="data">
                                                    H
                                                </td>
                                                <td class="img">
                                                    <img src="" width="30" height="30"/>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                </li>
                            </ul>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="{% static "images/msg_img2.png" %}" style="width:30px;height:30px; float:left; margin-right: 10px; margin-top: 5px;">
                                        </td>
                                        <td>
                                            <div style="width:200px;margin-left:20px;" class="pull-left other-person">
                                                <p>Hi, how are you? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.</p>
                                                <label class="time">Tuesday, 23rd december</label>
                                            <div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div style="width:200px;" class="pull-right me">
                                                <p>Hi, how are you? Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.</p>
                                                <label class="time">Tuesday, 23rd december</label>
                                            <div>
                                        </td>
                                        <td>
                                            <img src="{% static "images/msg_img1.png" %}" style="width:30px;height:30px; float:right; margin-left: 10px; margin-top: 5px;">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="chat_txt"> <input class="chat_input_textbox" type="text" placeholder="Enter a Message">  <a href="#"></a> </div>
                    </div> -->
                    
                </div>
                <!-- <div style="width: 20px;position:relative;float:right;right:800px;bottom:10px;">
                        <span class="glyphicon glyphicon-list" style="width:20px;height:20px;">
                        </span>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div> -->
            </div>
    {% endblock bodycontent %}
{% endblock body %}
{% block more_extra %}
    <div id="loading_container" style="width:100px;height: 100px;display:none;">
        <p style="font-weight: bold;font-size: 30px;">Loading...</p>
    </div>

    <script>
        $(document).ready(function()
        {
            
            //alert($(window).height());
            $("#id_chat_sidebar_floating").find(".chat_sidebar").css("height",($(window).height() - 63) + "px");

            $(".chat_sidebar").find("tbody").css("height",($(window).height() - 63 - 63) + "px");

            $("#id_button_tut_online_toggle").click(function(e){
                $(this).parent().find(".chat_sidebar").toggle();
            });

            $(document).click(function(e)
            {
                // alert(e.target.className);
                // if(e.target.id != "id_chat_sidebar_floating" && e.target.id != "id_button_tut_online_toggle")
                // {
                //     $("#id_chat_sidebar_floating").find(".chat_sidebar").hide();
                // }
            });

            $(document).mouseup(function (e)
            {
                var container = $("#id_chat_tutor_list");
                var chatbox = $(".chat");
                var board_taskbar = $(".ui-tabs-nav");

                if ((!container.is(e.target) // if the target of the click isn't the container...
                    && container.has(e.target).length === 0) && (!chatbox.is(e.target) && chatbox.has(e.target).length == 0 ) && e.target.className != "show_menu_icon"  && (!board_taskbar.is(e.target) && board_taskbar.has(e.target).length == 0 ) ) // ... nor a descendant of the container
                {
                    container.hide();
                }
            });

            $(window).resize(function()
            {
                $('#loading_container').css({
                            position: 'absolute'
                        });

                $('#loading_container').css({
                            left: ($(window).width() - $('#loading_container').outerWidth()) / 2,
                            top: ($(window).height() - $('#loading_container').outerHeight()) / 2
                        });
            });

            // call `resize` to center elements
            $(window).resize();
        });
    </script>

    <script>

        $(".show_menu_icon").click(function () {
            $("ul.ui-tabs-nav").show();
            $(".show_menu_icon").hide();
        });
        $(".hide_menu").click(function () {
            $("ul.ui-tabs-nav").hide();
            $(".show_menu_icon").show();
        });

        $(document).ready(function()
        {
            $("ul.ui-tabs-nav").show();
            $(".show_menu_icon").hide();

            $("#id_hide_video_window").click(function(e)
            {
                // $("#id_video_sharing_container").hide();
                // $("#id_video_sharing_container").children().hide();
                //$(this).parent().show();
                //$(this).parent().children().show();
                console.log("Hide button clicked!");
                $("#id_video_sharing_container").hide();
            });

            $(".onoffswitch4").click(function()
            {
                //alert($(this).val());
            });

        });

    </script>
    <script>
        $(".sharing").click(function () {
            $(".sharing_video").toggleClass("added");
        });
        $(".tutor").click(function () {
            $(".chat").toggleClass("added");
        });
        $("a#hide").click(function () {
            $(".chat").removeClass("added");
        });
    </script>
    <script>

        function jsLoadFail()
        {

        }

        function jsOnload() {
            if (window.resourcesLoaded) {
                afterLoad();


                // Basic session workspace variables



                var opentokConfig = {

                    apiKey: '11038762',
                    token: null,
                    sessionID: '1_MX4xMTAzODc2Mn4xMjIuMTczLjE4MS4wflRodSBTZXAgMDQgMDU6NTU6MTQgUERUIDIwMTR-MC44MDY5NzN-UH4',
                    webrtcSessionID: '2_MX4xMTAzODc2Mn4xMjIuMTczLjE4MS4wflRodSBTZXAgMDQgMDU6NTU6MTQgUERUIDIwMTR-MC4wOTMwMDE0ODV-fg',

                    webrtcCapable: !!(window.mozRTCPeerConnection || window.webkitRTCPeerConnection || window.RTCPeerConnection)
                };
                opentokConfig.webrtc = opentokConfig.webrtcCapable;

                var isDemoLesson = true,
                        isScheduledLesson = false,
                        isOnDemandLesson = !isDemoLesson && !isScheduledLesson,
                        isReadOnly = false;

                updateConfig({

                    OMNIBAR_HIDE: true
                });

                require(['lesson/config', 'lesson/init', 'lesson/modules/workspace/utils'],
                        function(config, lesson, lessonUtils) {
                            _(config).extend({
                                endpoints: {
                                    SUBMIT_QUESTION_URL: "/s/M8EC7/submit-question/"
                                },
                                user: {
                                    id: '234235',
                                    code: '234235',
                                    role: 1,
                                    isCandidate: false
                                },
                                otherUser: {
                                    id: ''
                                },
                                userPhotos: {
                                    '234235': lessonUtils.getViewingIcon(''),
                                    '': lessonUtils.getViewingIcon('')
                                },
                                code: 'M8EC7',
                                context: 'tutor_waiting',
                                medium: 1,
                                started: false,
                                isDemo: isDemoLesson,
                                isScheduled: isScheduledLesson,
                                isOnDemand: isOnDemandLesson,
                                isReadOnly: isReadOnly,
                                isLive: (!isReadOnly && !isDemoLesson),
                                question: null
                            });


                            lesson.start({
                                paperboard: {
                                    el: $('#whiteboard'),
                                    $pagination: $('#paperboard'),
                                    $grid: $('.grid'),
                                    $cursor: $('#other-cursor')
                                },
                                chat: {
                                    el: $('#lesson-chat'),
                                    $footer: $('.chat-footer'),
                                    $template: $('#lesson-chat-template')
                                },
                                video: {
                                    $myStreamContainer: $('#my-stream-container'),
                                    $streamContainer: $('#lesson-stream'),
                                    $indicators: $('.column.sharing'),
                                    $otherIndicators: $('.tutor.column'),
                                    $helpContainer: $('.setup-messaging'),
                                    $settingsModal: $('#video-settings-modal'),
                                    opentok: opentokConfig,
                                    GENERATE_OPENTOK_TOKEN_URL: "/s/M8EC7/generate-token/",
                                    conference: {
                                        $layout: $('.setup-conference'),
                                        $modal: $('#lesson-conference-how-it-works'),
                                        config: {

                                            code: null,
                                            phoneNumber: null

                                        }
                                    }
                                },
                                ide: {
                                    el: $('#ide'),
                                    url: 'https://instaedu.com/ide//lesson/M8EC7'
                                },
                                etherpad: {
                                    el: $('#etherpad'),
                                    url: 'https://instaedu.com/pad//p/M8EC7?showChat=false&amp;showLineNumbers=false&amp;showUserIcon=false&amp;userName=Student'
                                },
                                polling: {
                                    LESSON_STATUS_URL: "/s/M8EC7/status/",
                                    CREATE_LESSON_EVENT_URL: "/s/M8EC7/event/"
                                },
                                workspace: {
                                    el: $('#main'),
                                    supportButton: {
                                        el: $('.control.support')
                                    },
                                    messageModal: {
                                        el: $('#message-modal'),
                                        submitURL: '/online_tutors/message/',
                                        successURL: '/s/M8EC7/message/success/'
                                    },
                                    backspaceModal: {
                                        el: $('#backspace-modal')
                                    }
                                },
                                screenshare: {
                                    el: $('#screensharing'),
                                    $footer: $('#screensharing-footer')
                                }
                            });
                        });

                PointerEventsPolyfill.initialize({
                    selector: '#other-cursor'
                });

            } else {
                jsLoadFail();
            }
        };

        function loadJs() {
            $.ajax({
                url: '/static/js/cc4d74c818_bundle_plugins_and_core.js',
                dataType: 'script',
                cache: true,
                success: jsOnload,
                error: jsLoadFail
            });
        }

        if (window.jQuery) {
            $(document).ready(loadJs);
        } else {
            jsLoadFail();
        }
    </script>
    <script src="{% static "js/jquery-ui-1.10.4.custom.js" %}"></script>
    <script>
        $( "#tabs" ).tabs(
            {
                active: 2
            });

        function load_js_async(url)
        {
            $.ajax({
                url: url,
                dataType: 'script',
                cache: true,
                success: function(data)
                {
                    console.log("script loaded successfully.");
                    console.log("script: "+url);
                },
                error: function(jqxhr, status, error)
                {

                }
            });
        }

        var code_editor_loaded = false;
        var text_editor_loaded = false;
        var drawing_board_loaded = false;
        var js_script_loaded = false;
        function load_whiteboard_scripts_async()
        {
            if(!js_script_loaded)
            {
                //load_js_async("https://cdn.socket.io/socket.io-1.2.0.js");
                //var chat_js_url = "{% static "js/chat/chat.js" %}"
                //load_js_async(chat_js_url);
                //var whiteboard_js_url = "{% static "js/whiteboard/script.js" %}"
                //load_js_async(whiteboard_js_url);
                js_script_loaded = true;
            }
        }

        $("#id_tab_code_editor").click(function(e){
           if(!code_editor_loaded)
            {
                $("#loading_container").show();
                $.ajax({
                    type: "GET",
                    url: "ajax/code_editor",
                    data: {},
                    success: function(data)
                    {
                        $("#tabs-1").html(data);
                        code_editor_loaded = true;
                        console.log("Code Editor loaded.");
                        //load_whiteboard_scripts_async();
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                })
                .done(function( msg ) {
                    $("#loading_container").hide();
                });
            }
            else
            {
                console.log("Code Editor Already Loaded!");
            } 
        });

        $("#id_tab_text_editor").click(function(e)
        {
            if(!text_editor_loaded)
            {
                $("#loading_container").show();
                $.ajax({
                    type: "GET",
                    url: "ajax/text_editor",
                    data: {},
                    success: function(data)
                    {
                        $("#tabs-2").html(data);
                        text_editor_loaded = true;
                        console.log("Text Editor loaded.");
                        //load_whiteboard_scripts_async();
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                })
                .done(function( msg ) {
                    $("#loading_container").hide();
                });
            }
            else
            {
                console.log("Text Editor Already Loaded!");
            }
        });
        $("#id_tab_white_board").click(function(e)
        {
            if(!drawing_board_loaded)
            {
                $("#loading_container").show();
                $.ajax({
                    type: "GET",
                    url: "ajax/drawing_board",
                    data: {},
                    success: function(data)
                    {
                        $("#tabs-3").html(data);
                        drawing_board_loaded = true;
                        console.log("Drawing board loaded.");
                        //load_whiteboard_scripts_async();
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                })
                .done(function( msg ) {
                            $("#loading_container").hide();
                });
            }
            else
            {
                console.log("Drawing Board Already Loaded!");
            }
        });


        $(document).ready(function(){
            $(".tabbings").show();
            if(!drawing_board_loaded)
            {
                $("#loading_container").show();
                $.ajax({
                    type: "GET",
                    url: "ajax/drawing_board",
                    data: {},
                    success: function(data)
                    {
                        $("#tabs-3").html(data);
                        drawing_board_loaded = true;
                        console.log("Drawing board loaded.");
                        //load_whiteboard_scripts_async();
                    },
                    error: function(jqxhr, status, error)
                    {

                    }
                })
                .done(function( msg ) {
                            $("#loading_container").hide();
                });
            }
            else
            {
                console.log("Drawing Board Already Loaded!");
            }
        });


    </script>
{% endblock more_extra %}