<!DOCTYPE html>
<html>

<head>

<meta name="keywords" content="JavaScript, WebRTC" />
<meta name="description" content="WebRTC codelab" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">

<title>WebRTC codelab: step 1</title>

<!-- When we finish the codelab we'll move CSS and JavaScript to separate files -->

<!-- CSS will go here -->
<style>
</style>

    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
    <link href="css/jquery-ui-1.10.4.custom.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/CreateHTML5Elements.js"></script>
    <script src="./socket.io/socket.io.js"></script>
    <script type="text/javascript" src='js/lib/adapter.js'></script>
    <script type="text/javascript" src='js/chat/chat.js'></script>

</head>

<body>

<!-- HTML will go here -->
<textarea id="dataChannelSend" disabled placeholder="Press Start, enter some text, then press Send."></textarea>
	<textarea id="dataChannelReceive" disabled></textarea>

  <div id="buttons">
    <button id="startButton">Start</button>
    <button id="sendButton">Send</button>
    <button id="closeButton">Stop</button>
  </div>
<!-- JavaScript will go here -->
<script>
</script>

</body>

</html>